@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
}

html,
body{
    height: 100%;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

a:hover{
    transition: 0.5s;
    color: #ffc4c4;
}

h1{
    font-weight: 500;
    font-size: 24px;
}

.title{
    font-weight: 600;
    text-align: center;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-title{
    margin-bottom: 50px;
}

.logotype img{
    width: 60px;
    border-radius: 30px;
    transition: 0.5s;
}

.logotype img:hover{
    transition: 0.5s;
    transform: scale(1.08);
}

.header__row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    background-color: rgba(255, 161, 183, 0.78);
}

.header__row-left{
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__row-links{
    display: flex;
    align-items: center;
    gap: 15px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    margin: 100px 0;
    flex: 1 1 auto;
    padding: 0 15px;
}

.content-block{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 60px;
}

.content-text{
    max-width: 300px;
}

.content-toDialog{
    background-image: url("../img/mainImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #8ee7b1;
    color: black;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    padding: 8px 8px;
    border: none;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    transition: 0.5s;
    transform: scale(1.1);
    background-color: #76d29d;
}

.display{
    display: flex;
}

.dialog{
    margin: auto;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    border: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.dialog img{
    width: 100px;
    border-radius: 30px;
}

.content-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.content-img-title{
    text-align: center;
}

.content-img-row{
    display: flex;
    align-items: center;
    gap: 60px;
}

.content-img-row img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

footer{
    padding: 12px 0;
    background-color: #f5e0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-text{
    text-align: center;
}


@media (max-width: 768px){

    .content-text{
        max-width: 250px;
    }

    .content-toDialog{
        width: 250px;
        height: 250px;
    }

    .content-img-row img{
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 620px) {
    .content-text{
        max-width: 230px;
    }

    .content-toDialog{
        width: 230px;
        height: 230px;
    }

    .content-img-row img{
        width: 230px;
        height: 230px;
    }
}

@media (max-width: 550px){
    .content-block{
        flex-direction: column;
    }

    .content-text{
        max-width: 260px;
    }

    .content-toDialog{
        width: 260px;
        height: 260px;
    }

    .content-img-row img{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 450px){
    .content-text{
        max-width: 260px;
    }

    .content-toDialog{
        width: 260px;
        height: 260px;
    }

    .content-img{
        gap: 20px;
    }

    .content-img-row{
        gap: 20px;
    }

    .content-img-row img{
        max-width: 150px;
        max-height: 150px;
    }

    footer{
        flex-direction: column;
    }
}

@media (max-width: 320px){

    .content-text{
        max-width: 200px;
    }

    .content-toDialog{
        width: 200px;
        height: 200px;
    }

    .content-img-row img{
        max-width: 120px;
        max-height: 120px;
    }

    button{
        width: 160px;
    }
}